 .index-page .page-header {
    height: auto;
    min-height: 70vh;
    background-color: #f3f2ee;
    background-image: url(../img/homepage_footer.jpg);
    background-size: cover;
    background-position: top center;
    /* min-height: 700px; */
}



.page-header .container {
      Xpadding: 0;
}

.navbar a:not(.btn):not(.dropdown-item){
    color: #fff!important;
}

.navbar.sticky {
    background: #14b0bf !important;
}
.navbar.sticky a:not(.btn):not(.dropdown-item){
    color: #fff!important;
}

.index-page .page-header {
    background-color: #14b0bf !important;
    background-image: none;
        color: #fff!important;
}

.aqua {
      color: #5c2d91;
}

.footer {

    background-color: #2c2c2c;
    color: #FFFFFF;
}
.skew {
    transform: skew(0deg, 0deg);
}
.skew .content {
    transform: skew(0deg, 0deg);

}
.page-header .lesson-cards {
    margin-top:50px;
  padding: 40px 20px 80px 20px;
    colSor: #5c2d91;
    color: #fff;
    
}

.page-header .card {
    background-color: #5c2d91;
    color: #5c2d91;
    box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, .3);
}

.page-header .card .card-body {
    background-color: aliceblue;
    Xbox-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .3);
}


.page-header .lesson-cards>div {
  padding: 20px 16px 20px 16px;
}

.page-header .header-intro {
    padding-top: 10px;
}

.logos img {
  max-width:120px; margin: 10px;
}

.CSE-emoji {
  width: 60px;
}

.page-header .btn-lg {
  white-space: normal;
      padding: 15px 28px;
}

.header-intro h1 {
    font-size: 4rem; 
    font-weight: 300;
}

.accordion .card-header.collapsed:after {
    content: "\f107";
    font-weight: 900;
    font-size: 140%;
    position: relative;
    top: -10px;
}

.accordion .card-header:after {
    content: "\f106";
}

.take-action {
  padding: 20px;
}

.take-action .col-md-8 {
  padding: 0px;
}


.take-action .col-md-8 {  
  border-bottom: 1px solid #eee;
}

.take-action p{
  flXoat: right;
}

.take-action .icon {
  width: 75px;
    padding-bottom: 20px;
        margin: auto;
}

#FAQs .card-title {
      font-size: 1.35rem;
}

.offline-steps .next-step {
  position: relative;
  top: calc(50% - 20px);
  right: 20px;
}

.offline-steps  {
  margin: auto;
  width: 100%;
}

.arrow_box {
	position: relative;
	background: white;
	    margin: 0 0 50px 0;
    width: 100%;
    padding: 20px;
      margin: 0px;
         display: flex;
  box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, .2);

          color: #fff;
} 
.arrow_box:not(:last-child) {
      margin: 0 0 50px 0;
}
.arrow_box:not(:last-child):after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(157, 111, 210, 0);
	border-top-color: #9d6fd2;
	border-width: 30px;
	margin-left: -30px;
}
.accordion .card-header:after {
    font-family: 'codejika';  
    content: "\f106";
    font-family: 'codejika' !important;
}
.accordion .card-header.collapsed:after {
 
    content: "\f107"; 
}

.logos a:hover img { transform: scale(1.1); }

.nav-menu-icon {

    font-size: 1.9em;
}




@media (min-width: 768px) {
}
@media (min-width: 576px) {
  
    .nav-menu-icon {

    font-size: 1.6em;
}
  
.page-header large-card.lesson-cards {
  padding: 80px 60px;
}
.page-header .header-intro {
    padding-top: 60px;
}
.CSE-emoji {
  width: 100px;
}
.page-header .large-card .order-md-1 h5{
    margin: 20px;
}
.page-header .large-card .order-md-0 {
    margin: 20px;
}
.page-header .large-card .order-md-2 {
    margin: 20px;
}
.header-intro h1 {
    font-size: 5rem; 
}

.page-header .large-card.lesson-cards {
  padding: 80px 20px;
   
}

.take-action .col-md-8 {
  padding: 15px;
}

.take-action .col-md-8 {  
  border-bottom: 0;
}

.arrow_box {

    width: calc(33% - 50px);
    margin: 25px;  
   }
.arrow_box:not(:last-child) {
  margin: 25px;
}
.arrow_box:not(:last-child):after {
	left: 100%;
	top: 50%;
  border-top-color: transparent;
	border-left-color: #9d6fd2;
	margin-top: -30px;
  margin-left: initial;
}





}  
