body { overflow-x: hidden }
.navbar { position: relative; z-index: 99 }
.index-page .page-header { height: 90vh; background-image: url(../../code-img/homepage_header.jpg); background-size: cover; background-position: top center; position: relative }
.header-intro { vertical-align: middle; margin-top: -100px; color: #fff!important; z-index: 0 }
.headHeroText { margin-bottom: -80px }
.headHeroText h1 { font-size: 100px }
.headHeroText p { font-size: 18px; position: relative; z-index: 1; color: #40e0d0; margin-top: 0 }
#headHeroBtn { color: #fff; width: 300px; height: 200px; background: rgba(0,0,0,0); -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; z-index: 1; border: none; opacity: .2; top: -100px; position: relative }
#headHeroBtn img { max-width: 150px }
.page-header .card { background: 0 0; color: #5c2d91; box-shadow: 0 0 15px 0 rgba(82,129,203,.4); text-align: left }
#headHeroBtn:hover { cursor: pointer }
#introVideoWrap { width: 70%; height: 60%; background: #000; position: fixed; display: flex; justify-content: center; align-items: center; left: 15%; top: 15%; right: 50%; transition: .3s; transform: scale(1); z-index: 2000; -webkit-box-shadow: 0 0 180px 200px rgba(0,0,0,.75); -moz-box-shadow: 0 0 180px 200px rgba(0,0,0,.75); box-shadow: 0 0 180px 200px rgba(0,0,0,.75) }
.vidHide { display: none!important; opacity: 0!important; transform: scale(.1)!important; transition: .3s!important }
#videoQuit { font-size: 30px; position: fixed; right: 10px; top: 10px; color: #fff; z-index: 3000 }
#videoQuit:hover { cursor: pointer }
.faq-collapse .card { width: 92%; display: block; margin: auto; margin-bottom: 28px!important }
#yRibbon { margin-top: -40px }
#studentProfiles { width: 96%; margin: auto }
#studentProfiles div h2 { font-size: 2.5em; text-align: center }
#studentProfiles div img { width: 55%; border: 10px solid #fc0 }
.headerLine { margin: 0 auto; width: 100px; border-bottom: 7px solid #9d6fd2; margin-bottom: 35px }
#wWADBlocks { margin: 0 auto; text-align: center; display: flex; flex-direction: column; justify-content: center; width: 90%; height: auto; color: #000; flex-wrap: wrap }
#wWADBlocks h1 { margin-top: 100px; text-align: center }
#wWADBlocks div { display: flex; justify-content: space-around; align-items: stretch; align-content: stretch; flex-wrap: wrap }
#wWADBlocks div div { -webkit-box-shadow: -2px 2px 16px 0 rgba(0,0,0,.4); -moz-box-shadow: -2px 2px 16px 0 rgba(0,0,0,.4); box-shadow: -2px 2px 16px 0 rgba(0,0,0,.4); padding: 40px 10px 40px 10px; border: 5px groove #9d6fd2; display: flex; flex-direction: column; width: 18%; color: #000; height: auto; border-radius: 12px; flex-wrap: wrap }
#mediaLogos { display: flex; flex-direction: column; justify-content: center; align-items: center }
#mediaLogoList { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; width: 90% }
#mediaLogoList img { width: 15%; padding: 30px }
.home-testimonial .col-md-6 { max-width: 33.33%; display: inline }
.h2, h2 { margin-bottom: 0!important }

@media all and (max-width:700px) {
#wWADBlocks div div { width: 100%; margin-bottom: 15px }
}

@media all and (min-width:40em) {
#wWADBlocks div div { width: 40%; margin-bottom: 15px }
}

@media all and (min-width:1200px) {
#wWADBlocks div div { width: 18% }
}
.menu-col h4 { font-size: 1.714em; font-family: Montserrat, "Helvetica Neue", Arial, sans-serif!important; color: #000; margin: 0 0 .26rem 0 }
.bxmenu-wrap h3 { font-size: 2.5em; margin-bottom: 16px; color: #000 }
.menu-col { border: 0; border-radius: .1875rem; display: inline-block; position: relative; overflow: hidden; margin-bottom: 0; box-shadow: 0 5px 25px 0 rgba(0,0,0,.2); background-color: #fff; padding: 17px 20px 21px; text-align: left; height: 100%; width: 100% }
.bxmenu-wrap { max-width: 770px; margin: auto; text-align: center; padding-top: 97px }
.box-menu ul>li a::before { display: none }
.box-menu ul>li a { font-size: 20px; color: #2c2c2c; position: relative }
.box-menu ul li ul li { background: 0 0; width: 100%; box-shadow: none; padding: 0; margin: 0 }
.box-menu ul li ul li a { font-size: 16px; color: #606060 }
.box-menu ul li ul.sub-menu { background: #f9f9f9; padding: 16px 20px; border-radius: 2px; display: none }
.box-menu ul li:hover ul.sub-menu { display: block }
.box-menu ul { text-align: left }
.pll-parent-menu-item { float: none; position: relative }
.menu-col p { color: #2c2c2c; margin: 0; line-height: 1.61em }
.bxmenu-wrap .col-lg-12 { padding: 13px 15px }
.menu-col:hover { background-color: #f4fcfc }
.navbar.sticky li.nav-item.d-none.d-md-block { margin: 7px 0 0 }
.slider-heading h2 { color: #000; font-weight: 700; text-align: center; font-size: 38px; margin: 40px 0 0; position: relative }
.slide-content { color: #333; background: #fff; border: 1px solid #eae8e8; border-radius: 2px; padding: 14px 18px; min-height: 270px; box-shadow: 0 0 15px 0 rgb(82, 129, 203, .4); position: relative; text-align: center }
.slide-content h3 { margin: 0 0 4px; font-size: 23px; color: #000; font-weight: 700 }
.slide-content p { font-size: 15px; margin: 0 0 2px }
.main-slider-content .slider { text-align: left; margin: 0 -15px }
.main-slider-content .slider .slick-slide { padding: 15px }
.slick-next, .slick-prev { color: none }
.home-testimonial .slider { text-align: left; margin: 0 -15px }
.home-testimonial .slider .slide-content p { font-weight: 400; color: #000; font-size: 14px }
.home-testimonial .slider .slide-content .sub-text p { font-size: 12px; color: #000; font-weight: 600; margin: 13px 0 0 }
.home-testimonial .slider .slick-slide { padding: 15px }
.home-testimonial .slider .slide-content { min-height: 242px; height: 100% }
.container.lesson-cards { padding-bottom: 20px; top: -100px; position: relative }
.container.lesson-cards .card-body { text-align: center }

@media screen and (max-width:991px) {
.index-page .card-deck.col-md-18 { max-width: 100%!important }
#studentProfiles div h2 { font-size: 25px; margin-top: 5px }
#studentProfiles div { padding: 0 }
}

@media (min-width:1024px) and (max-width:1199px) {
.headHeroText img { top: 85px }
}

@media screen and (max-width:767px) {
.bxmenu-wrap { padding-top: 15px }
.bxmenu-wrap .col-lg-12 { padding: 7px 15px }
.bxmenu-wrap h3 { margin-bottom: 4px }
.menu-col { padding: 7px 16px 8px }
.menu-col h4 { font-size: 1.4em }
.card-deck .card { flex: 50px; margin-right: 10px; margin-left: 0 }
.card-title { font-size: 18px }
.btn.btn-lg.bg-primary.white { padding: 13px 33px; margin-left: 10px }
.btn.btn-lg { padding: 13px 33px; margin-left: 15px }
#studentProfiles div h2 { font-size: 22px }
.logos img { max-width: 75px }
.container.lesson-cards { top: -70px }
.headHeroText h1 { font-size: 29px }
}

@media screen and (max-width:640px) {
.card-deck .card { flex: auto; display: block; margin: 0 auto 20px auto }
}

@media screen and (max-width:479px) {
#studentProfiles div h2 { font-size: 21px }
}

@media screen and (max-width:414px) {
.container.block-1 .card-title { font-size: 14px!important }
#studentProfiles div img { width: 85% }
.home-testimonial .slider .slide-content { min-height: 262px }
.slide-content { min-height: 255px }
}

@media screen and (max-width:360px) {
#studentProfiles div h2 { font-size: 18px!important }
}



.headHeroText img {
	width: 65%;
	position: absolute;
	top: -50px;
	margin: auto;
	right: 0;
	left: 0;
	opacity: .2;
}


.headHeroText h1 { position: relative; z-index: 1 }
.headHeroText a { color: #fff!important; z-index: 1; position: relative }
.btn.btn-watch { background: 0 0; border: 2px solid #fff; text-transform: uppercase; font-weight: 700 }
.index-page .page-header::before { content: ""; display: block!important }
.page-header .header-intro { padding-top: 0; position: relative; top: 50%; transform: perspective(1px) translateY(-50%) }
#studentProfiles #left, #studentProfiles #right { width: 49%; display: inline-block; text-align: center; transform: skew(0deg, 0deg); vertical-align: top }
.block-2 { padding: 70px 0 }
.lrsec-img { overflow: hidden; margin: 0 0 7px }
.slick-next::before, .slick-prev::before { font-size: 44px; color: #303030 }
.slick-prev { left: -45px }
.slick-next { right: -49px }
.header-intro h1 { padding-top: 0; margin-bottom: 0!important }
.slick-next, .slick-prev { width: 40px; height: 40px }
.modal-content button.close { position: absolute; right: 21px!important; top: 22px; outline: 0; z-index: 1000; line-height: 10px; font-size: inherit!important; transform: scale(6.3) }
.number { background: #14b0bf; border-radius: 50%; display: inline-block; width: 35px; height: 35px; color: #fff; font-size: 22px; font-weight: 700; line-height: 35px; text-align: center; margin: 0 0 12px 0 }
.color_green { background: #14b0bf }
.color_red { background: #ff00a5 }
.color_yellow { background: #fc0 }
.user-image img { border-radius: 50%; max-width: 60px }
.user-image { display: inline-block; width: 22%; padding: 0 10px 0 0; vertical-align: middle }
.profile-section .profile-text { display: inline-block; width: 75%; vertical-align: middle }
.profile-text strong { display: block; color: #14b0bf }
.home-testimonial .slider .slide-content::after { content: ""; width: 0; height: 0; border-style: solid; border-width: 14px 12px 0 12px; border-color: #fff transparent transparent transparent; position: absolute; left: 20px; bottom: -14px }
.profile-section { margin: 27px 0 0 0 }
.faq-collapse .card { background: #fff }
.accordion .card .card-body { background-color: #efefef }
#FAQs .card-title { display: block; color: #101010; position: relative; padding-right: 42px; padding: 11px 40px 10px 16px; margin: 0 }
.accordion .card-header::after { color: #aaa; font-weight: 900; font-size: 140%; top: 7px; position: absolute; right: 20px }
.accordion .card-header.collapsed::after { right: 20px; position: absolute; top: 10px }
.card-head.collapsed::after { content: "\f077"; font-family: FontAwesome; position: absolute; right: 20px; color: #b0b0b0; font-weight: 400!important; transform: rotate(-180deg); transition: all ease .5s; top: 15px }
.card-head::after { content: "\f077"; font-family: FontAwesome; right: 20px; position: absolute; color: #b0b0b0; transition: all ease .5s; top: 15px }
.lrsec-content { margin: 12px 0 0 }
.navbar.sticky { background-color: rgba(20,176,191,.5)!important }
.project-bx-img img { max-width: 60px; margin: auto }
.project-bx h4 { font-family: Rajdhani; font-weight: 600; margin: auto; font-size: 22px }
.slide-content-curric { color: #333; background: #fff; border: 1px solid #eae8e8; border-radius: 2px; padding: 14px 18px 42px; min-height: 320px; box-shadow: 0 0 15px 0 rgb(82, 129, 203, .4); position: relative; text-align: center }
.project-bx-content h5 { font-size: 18px; margin: 0 0 6px }
.project-bx-img { margin: 7px 0 8px }
.project-bx-content p { margin: 0 0 12px }
.project-bx-learn a { color: #0cc; font-weight: 600; font-size: 16px }
.project-bx-learn { position: absolute; bottom: 13px; left: 0; right: 0; margin: auto; text-align: center }
.project-bx-learn.coming-soon a { color: #444; text-transform: uppercase }
.subtitle { line-height: 1.1em }
.lity-close { width: 55px; height: 55px; transform: scale(2) }


/** 24 June 2019 Css Start here **/

.how-diff {padding: 30px 0 20px 0;}
.curric-sec {padding: 0 0 40px;}



/** curiculum **/
.inside-col {
	border: 0;
	border-radius: .1875rem;
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin-bottom: 0;
	box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
	background-color: #fff;
	padding:16px 20px;
	text-align: left;
	height: 100%;
	width: 100%;
}
.inside-col h4 {margin: 0 0 2px 0;font-size: 20px; font-family: Montserrat, "Helvetica Neue", Arial, sans-serif !important;}

.table-content p {margin: 3px 0px;font-size: 14px;}

.table-content .scnd {width: 50%;float: right;}
.table-content .fst {float: left;width: 50%;}

.table-content {overflow: hidden;clear: both;}

.foot-links a {
	display: inline-block;
	color: #fff;
	padding: 7px 10px;
	font-size: 14px;
	font-weight: 500;
}

.foot-links {margin: 12px 0 0 0;}

.foot-links a.btn-green{ background-color: #92D050 }
.foot-links a.btn-gray{ background-color: #BEBEBE}
.foot-links a.btn-blue{background-color: #00AFEF}

.inside-col h6 {margin: 8px 0 12px 0;font-weight: 500;}
.sub-headings h4 {margin: 15px 0 0 0;}

.box-menu-wraper.x-box .bxmenu-wrap {max-width: 810px; padding-bottom: 40px;}

.modal-backdrop.show {display: none;}

.fullscreen.modal {background-image: url(../img/bg-pattern-zz50.png);background-color: #fff;}

.fullscreen .modal-content{ background:none; }

.link.color_red.separate-it {float: right;}

/** 24 June 2019 Css Start here **/





@media screen and (max-width:767px) {
.headHeroText h1 { font-size: 40px }
.headHeroText p { font-size: 14px; margin: auto }
.slider-heading h2 { font-size: 27px }
#mediaLogos .title { font-size: 27px }
.container.block-1 .title { font-size: 27px }
.section .title { font-size: 27px }
.headHeroText img { width: 100%; top: -20px; }
.slick-arrow { display: none!important }
.headHeroText a .subtitle {font-size: 20px !important;}
.modal {background-color: #FFF;}
}

@media screen and (min-width:768px) and (max-width:991px) {
.headHeroText h1 { font-size: 60px }
.headHeroText p { font-size: 20px }
.headHeroText img { top: -30px; width: 80%; }
.slick-arrow { display: none!important }
.slide-content { min-height: 220px }
.home-testimonial .slider .slide-content { min-height: 252px }
#studentProfiles div img { width: 75% }
.faq-collapse .card { width: 100% }
#FAQs .card-title { font-size: 1.15rem }
.foot-links a {
	padding: 6px 5px;
	font-size: 13px;

}
.inside-col{ padding: 12px; }

}

@media screen and (min-width:992px) and (max-width:1199px) {
#studentProfiles div img { width: 72% }
.slick-arrow { display: none!important }
}

@media screen and (min-width:1200px) and (max-width:1400px) {
.headHeroText img { width: 62% }
#studentProfiles div img { width: 62% }
}
@media screen and (min-width:1300px) and (max-width:1500px) {
.bxmenu-wrap{ padding-top: 50px; }
}
@media screen and (min-width:1024px) and (max-width:1299px) {
.bxmenu-wrap{ padding-top: 30px; }
.bxmenu-wrap .col-lg-12 {padding: 9px 15px;}
}






