<link rel='stylesheet' id='contact-form-7-css'  href='https://codejika.co.za/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.0.2' type='text/css' media='all' />

<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/codejika.co.za\/wp\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
/* ]]> */
</script>
<script type='text/javascript' src='https://codejika.co.za/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.2'></script>
<script type='text/javascript' src='https://codejika.co.za/static/scripts.js'></script>
 <div class="modal-body">
 
<form  class="wpcf7-form floraforms" class="container" novalidate="" id="myForm">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="1610" />
<input type="hidden" name="_wpcf7_version" value="5.0.2" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1610-p1611-o1" />
<input type="hidden" name="_wpcf7_container_post" value="1611" />
</div>
<div id="formMultiSteps" class="carousel slide" data-ride="false" data-wrap="false">

  <div class="carousel-inner">
  <div class="carousel-item active">
    <div class="form-row">
      <div class="col-md-12 mb-3">
         <h2 class="mb-1 text-center" >Who's in your club?</h2> 
      <p class="text-center">Let's get some info from you to get started</p>     
        <label class="form-control-label mb-1" for="inputSuccess2">Friends to invite</label>     
        <input type="text" class="form-control flo-input mb-3" name="your-name" id="your-name" required data-valrule="min:2:Minimum 2 characters|required:Please enter your name" placeholder="Friend's Email Address" autocomplete="off"  >     
        <input type="text" class="form-control flo-input mb-3" name="your-name" id="your-name" required data-valrule="min:2:Minimum 2 characters|required:Please enter your name" placeholder="Friend's Email Address" autocomplete="off"  >     
        <input type="text" class="form-control flo-input" name="your-name" id="your-name" required data-valrule="min:2:Minimum 2 characters|required:Please enter your name" placeholder="Friend's Email Address" autocomplete="off"  >
      </div>       
      <div class="col-md-12 mb-3">      
        <div  class="btn btn-lg text-center btn-secondary carousel-next" id="">Next</div>
      </div>
    </div>

  </div>
  <div class="carousel-item ">
    <div class="form-row">
      <div class="col-md-12 mb-3">
         <h2 class="mb-1 text-center" >What's the name of your club?</h2> 
      <p class="text-center">TIP: Choose something fun, like: Funky Green Fingers, Ginger Funk Squad, or Codeifornia</p>     
        <label class="form-control-label mb-1" for="inputSuccess2">Club name</label>     
        <input type="text" class="form-control flo-input" name="your-name" id="your-name" required data-valrule="min:2:Minimum 2 characters|required:Please enter your name" placeholder="Crisp Code Litany" autocomplete="off"  >
      </div>       
      <div class="col-md-12 mb-3">      
        <div  class="btn btn-lg text-center btn-secondary carousel-next" id="">Next</div>
      </div>
    </div>

  </div>
  <div class="carousel-item">     
    <div class="form-row">
      <div class="col-md-12 mb-3">
      <h2 class="mb-1 text-center" >Let's put a name</h2> 
      <p class="text-center">...to the awesome things you're going create</p>     
        <label class="form-control-label mb-1" for="inputSuccess2">Enter your First Name</label>     
        <input type="text" class="form-control flo-input" name="your-name" id="your-name" required data-valrule="min:2:Minimum 2 characters|required:Please enter your name" placeholder="First Name" autocomplete="off"> 
        <label class="form-control-label mb-1" for="inputSuccess2">Enter your Last Name</label>       
        <input type="text" class="form-control flo-input" name="your-name" id="your-name" required data-valrule="min:2:Minimum 2 characters|required:Please enter your name" placeholder="Last Name" autocomplete="off">  
      </div>        
      <div class="col-md-12 mb-3">     
        <label class="form-control-label mb-1" for="inputSuccess2">Date of Birth (example 2005/10/01)</label>
        <input type="email" class="form-control flo-input" name="your-email" required id="your-email" data-valrule="email:Enter a valid E-Mail Address!|required:Please enter your name" placeholder="YYYY/MM/DD" autocomplete="off">
      </div>
    <div>
        <button  class="btn btn-lg text-center btn-secondary" id="btnSubmit">Submit</button>
    </div>      
    </div>

  </div>
  </div>    

    <div class="wpcf7-response-output wpcf7-display-none"></div>

   
  <ol class="carousel-indicators">
    <li data-target="#formMultiSteps" data-slide-to="0" class="active"></li>
    <li data-target="#formMultiSteps" data-slide-to="1"></li>
  </ol>
</div>
</form>
<div class="success" style="display:none;">
      <div class="col-md-12 mb-3 text-center">
        <h2 class="mb-2" >We love hearing from you!</h2> 
        <img src="https://codejika.co.za/static/high-five.jpg"/>
        <p class="text-center mt-2">We are going to contact your friends and invite them.</p>      
      </div>
</div>
</div>
       <div class="modal-footer">If you don't have their email you can add their number.
  </div>

<script>



$( document ).ready(function() {

carouselNormalization('#formMultiSteps .carousel-item');

submitButton("#btnSubmit", "#myForm", "1610" );

$(".carousel-prev").click(function(){
  $("#formMultiSteps").carousel("prev");
});

$(".carousel-next").click(function(){
$("#formMultiSteps").carousel("next");
});

});
</script>