<link rel='stylesheet' id='contact-form-7-css'  href='https://codejika.co.za/wp/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.0.2' type='text/css' media='all' />
<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/codejika.co.za\/wp\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
/* ]]> */
</script>
<script type='text/javascript' src='https://codejika.co.za/wp/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.2'></script>
<script type='text/javascript' src='https://codejika.co.za/static/scripts.js'></script>
 <div class="modal-body">
 
<form  class="wpcf7-form" class="container" novalidate="" id="myForm">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="1610" />
<input type="hidden" name="_wpcf7_version" value="5.0.2" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1610-p1611-o1" />
<input type="hidden" name="_wpcf7_container_post" value="1611" />
</div>
<div id="formMultiSteps" class="carousel slide" data-ride="false" data-wrap="false">

  <div class="carousel-inner">
  <div class="carousel-item active">
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label class="form-control-label" for="inputSuccess2">Enter your Name</label>      
        <input type="text" class="form-control" name="name" id="your-name" required data-valrule="min:2:Minimum 2 characters|required:Please enter your name" placeholder="First name" autocomplete="off"                 data-fv-notempty="true"
                data-fv-notempty-message="The username is required"
                       data-fv-stringlength="true"
                data-fv-stringlength-min="6"
                data-fv-stringlength-max="30"
                data-fv-stringlength-message="The username must be more than 6 and less than 30 characters long"
>
      </div>        
      <div class="col-md-12 mb-3">     
        <label class="form-control-label" for="inputSuccess2">Enter your Email Address</label>
        <input type="email" class="form-control" name="email" required id="your-email" data-valrule="email:Enter a valid E-Mail Address!|required:Please enter your name" placeholder="Email Adddress" autocomplete="off">
      </div>
      <div class="col-md-12 mb-3">      
        <div  class="btn btn-secondary carousel-next" id="">Next</div>
      </div>
    </div>
  </div>
  <div class="carousel-item">     
    <div class="form-group">
        <label class="form-control-label" for="inputSuccess1">Enter your Subject</label>
        <input type="text" class="form-control" name="your-subject" id="your-subject" required>
    </div>
    <div class="form-group">
        <label class="form-control-label" for="inputSuccess2">Enter your Message</label>
        <input type="text" class="form-control" name="your-message" required id="your-message">
        <div class="valid-feedback">Nice! You got this one!</div>
        <div class="invalid-feedback">Sorry, you missed this one.</div>
    </div>
    <div>
        <button  class="btn btn-secondary" id="btnSubmit">Try It!</button>
    </div>
  </div>
  </div>    

    <div class="wpcf7-response-output wpcf7-display-none"></div>

   
  <ol class="carousel-indicators">
    <li data-target="#formMultiSteps" data-slide-to="0" class="active"></li>
    <li data-target="#formMultiSteps" data-slide-to="1"></li>
  </ol>
</div>
</form>
</div>
       <div class="modal-footer">Tip: If they don't have an email address you can add their phone number.
        


  </div>

<script>



$( document ).ready(function() {

carouselNormalization('#formMultiSteps .carousel-item');

submitButton("#btnSubmit", "#myForm", "1610" );

$(".carousel-prev").click(function(){
  $("#formMultiSteps").carousel("prev");
});

$(".carousel-next").click(function(){
$("#formMultiSteps").carousel("next");
});

});
</script>