

div.divLink:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
        background-color: #17bcc30d;
}

a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;     /* raises anchor tag above everything else in div */
    background-color: white;   /*workaround to make clickable in IE */
    opacity: 0;     /*workaround to make clickable in IE */
    filter: alpha(opacity=0);    /*workaround to make clickable in IE */
}

.card, .btn-lg {
    border-radius: 0;
}

.modal-content button.close {
  position: absolute;
    right: 32px;
    top: 32px;
  line-height: 1;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  transition: opacity .15s ease-in-out;
    font-size: 3.5rem;
    font-weight: 400;
    opacity: .5;
        outline: 0;
    z-index: 1000;
    line-height: 18px;
    width: auto;
    -moz-box-shadow: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
     background: transparent;
     background-color: white;
    height: 36px;
    width: 36px;
    border-radius: 50%;
  }


.modal  button.close:hover,
.modal  button.close:focus  {
  color: #000;
  text-decoration: none;
  opacity: 1;
}


.carousel .carousel-inner {
    box-shadow: unset;
}

.carousel-indicators .active {
    background-color: #00a6dc;
}
.carousel-indicators li {
    background-color: rgba(93, 93, 93, 0.5);
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}



.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
    width: 95%;
    pointer-events: none;
    margin: .5rem auto;
    max-width: 500px;
}


.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
    box-shadow: 0 20px 30px 0 rgba(36,50,66,.14);  
  outline: 0;

      padding: 0;
  }
  
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #e9ecef;
}

.modal-header .close {
  margin-left: auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-content .modal-body{
  position: relative;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}



.modal-footer {
  justify-content: center;
  padding: 24px!important;
  background-color: #efefef;
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.modal label.form-control-label {
    font-size: 10px;
    text-transform: uppercase;
} 
.floraforms label, .floraforms input, .floraforms button, .floraforms select, .floraforms textarea {
    color: #fff;
}

.floraforms .flo-textarea:focus {
    border: 2px solid #1ABC9C;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 10px;
    padding-left: 10px;
}

ol.carousel-indicators {
    margin-top: 50px;
    bottom: 5px;
    position: relative;
}

.modal .success {
  display: none;
}
.modal iframe {
  height: 90vh;
}


@media (min-width: 30em) {
.moXdal-dialog {
    max-width: 900px;
}
.modal-content .modal-body{
  position: relative;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  Xpadding: 15px;
      padding: 40px 100px;
}
.modal-content button.close {
    right: 10px;
    top: 10px;
}

.modal-dialog {
    color: #2c2c2c;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.modal-dialog .btn-lg {
    font-size: 1.2em;
    backgXround-color: #0dbcc3;
    padding: 15px 30px;
}

}


@media (min-width: 576px) {
  .modal-diaXlog {
    max-width: 500px;
    margin: 30px auto;
  }
  .modal-sm {
    max-width: 300px;
  }
  .modal iframe {
  height: 95vh;
}
}

@media (min-width: 48em) {}
.modXal-dialog {
    width: 500px;
}
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}




.fullscreen .modal-dialog {
  width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
}
.fullscreen .modal-content {
    border-radius: unset;
    border: unset;
    box-shadow: unset;
    height: 100%;
    max-height: 100%;
    background-color:#0dbcc3;
}

.fullscreen .modal-content .menu {
    padding-top: 100px;
    width: 600px;
}

.modal-backdrop.show {
    opacity: .75;
}

.modal-backdrop {
    background: #000;
}

#partnerModal .img-wrap img {
    max-width: 150px;
}
.card h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.modal .tab-pane p{
    margin-bottom: 0px;
}

.modal .card .card-body {
    min-height: initial;
}