/*-------------------------------------------------------------- This is your custom stylesheet. Add your own styles here to make theme updates easier. To override any styles from other stylesheets, simply copy them into here and edit away. Make sure to respect the media queries! Otherwise you may accidentally add desktop styles to the mobile layout. You're the boss, so have fun editing! -------------------------------------------------------------- >>> TABLE OF CONTENTS: ---------------------------------------------------------------- 1.0 - Global Styles 2.0 - Responsive media queries (mobile styles) 2.1 - MAXIMUM width of 720 pixels (phones landscape) 2.2 - MAXIMUM width of 350 pixels (phones portrait) 2.3 - MINIMUM width of 721 pixels (tablets+) 2.4 - MINIMUM width of 1040 pixels (desktops and laptops) --------------------------------------------------------------*/
/*-------------------------------------------------------------- 1.0 - Global Styles --------------------------------------------------------------*/
 body.is-desktop {
     background-color: #fff !important;
}
 body {
     color: #2c2c2c;
     font-size: 16px;
     font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}
 .black:not(:hover) {
    color:#000!important;
}
 .no-title article {
     padding-top: 0px !important;
}
 .header-inner .left-col .header-navigation ul li a {
     font-weight: 500;
     font-size: 18px;
     font-family: rajdhani;
}
 .site-header .right-col {
     background-color: #0273b3!important;
}
 #search-open, .header-account-login .pop .logout a {
     color: #fff;
     background-color: #f68821;
}
 .sidebar-form > div > .wpb_wrapper {
     background-color: #f7f7f7;
}
 .sidebar-form .wpb_wrapper .wpb_wrapper {
     padding: 30px;
}
 .sidebar-form input, .sidebar-form .buddyboss-select-inner {
     background-color: #fff;
}
 .sidebar-form input {
     max-width: 100%;
     width: 100%;
}
 .faq-icon-text .vc_icon_element {
     margin-bottom: 0px;
}
 .right-col .register, .right-col .login{
     display: none;
}
 .content-bullet {
     float: left;
     line-height: 1.25em;
}
 .content-card-row, .content-card > div > .wpb_wrapper {
     padding: 25px;
     backgrouXnd-color: #0273b314;
     background-color: #fff;
     background-clip: border-box;
     margin: 20px;
     flex-grow: 1;
     margin-bottom: 20px;
     box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
 .cta-button button{
     padding: 15px 30px!important;
     font-size: 1.2em!important;
}
 .wpm-language-switcher li {
     list-style-type: none!important;
     margin-right: 0;
     padding-right: 0;
}
 .wpm-language-switcher {
     padding-left: 0!important;
}
 .footer ul {
     margin-bottom: 0;
     padding-left: 18px;
}
 .footer ul li {
     display: list-item;
    /* padding-left: 10px;
     */
     list-style: disc;
     font-size: 12px;
}
 .footer h4 {
     margin-top: 0px;
     margin-bottom: 0px;
     font-family: Rajdhani;
     font-size: 16px;
     line-height: initial;
     text-transform: uppercase;
     color: #fff;
     font-weight: 400;
}
 .footer ul li a {
     color: #fff;
     padding: inherit;
     font-size: inherit;
     text-transform: inherit;
     text-decoration: inherit;
}
 .footer ul li {
     display: list-item;
    /* padding-left: 10px;
     */
     list-style: disc;
     font-size: 14px;
     color: #666;
}
 .footer-menu {
     margin-right: auto;
}
 .hide {
    display:none!important;
}
 .powered-by {
     padding: 10px 20px;
     background-color: #444;
     margin-top: 10px;
     align-self: flex-start;
}
 .footer .copyright {
     marXgin-top: 20px;
     padding: 10px 0;
     text-align: center;
     float: none;
     display:inline-block;
}
 .footer {
     padding: 24px 0 0;
     background-color: #2c2c2c;
     color: #fff;
     background-image: url(/img/bg-pattern-zz.png);
}
 .footer a, .footer p, .footer div {
     color: #fff;
}
 .footer .c4c-logo{
     display: inline-block;
     padding: 10px 0 ;
     vertical-align: top;
     float: none;
}
 body.single-post img.aligncenter.size-full {
     margin: auto;
     max-width: 100%;
     min-width: initial;
}
 .page-cover > .table-cell {
     height: auto!important;
}
 .page-cover .page-header {
     background-image: url(/img/bg-pattern-circ10.png);
     background-size: unset;
}
 .blog header .main-title {
     border-bottom: 0;
     padding-bottom:0;
     -webkit-box-shadow: none;
     -moz-box-shadow:none;
     box-shadow: none;
}
 .post-template-default header .main-title, .blog header .main-title {
     font-weight: 100!important;
     font-size: 54px!important;
}
 .page-cover, .bb-cover-photo {
     background-color: #4292bf !important;
}
 .header-section {
     background-image: url(/wp-content/uploads/2018/06/homepage_header3.jpg) !important;
     backgXround-image: url(https://codejika.co.za/img/homepage_header.jpg) !important;
     background-position: center !important;
     background-repeat: no-repeat !important;
     background-size: cover !important;
     min-height: 320px;
}
 .header-section h1 {
     text-align: center;
     color: #fff;
     font-size: 4em !important;
     line-height: 1em;
}
 .header-section .wpb_content_element {
     margin-bottom: 0px;
}
 .header-section .subtitle p {
     text-align: center;
     color: #fff;
     padding-top: 24px;
     max-width: 75%;
     text-transform: uppercase;
     margin: auto;
     letter-spacing: 1.5px;
}
 .wpb_singleimage_heading {
     font-size: 26px!important;
}
 .button-aqua {
     background-color: #3fc7cd!important;
     color: white!important;
}
 .button-aqua:hover {
     background-color: #777!important;
}
 .table {
     margin-bottom: unset;
}
 .table .table {
     background-color: unset;
}
 .resources-table tr{
     border: 10px solid white;
     backgXround-color: #fff;
}
 .blue-bg .resources-table tr{
     border: 10px solid #deefef;
     backgXround-color: #fff;
}
 .resources-table tr:nth-child(odd){
     background-color: #efefef;
}
 .blue-bg .resources-table tr:nth-child(odd){
     background-color: #fff;
}
 .blue-bg .resources-table tr:nth-child(odd){
     background-color: #fff;
}
 .resources-table td{
     padding: 14px;
     vertical-align: middle;
     border-left: 1px solid #ddd;
     textX-align: center;
}
 .resources-table td:first-child{
     text-align: left;
}
 .resources-table h3 {
     margin: 0 0 4px 0;
}
 .resources-table .fa {
     background-color: white;
     padding: 10px;
     vertical-align: middle;
}
 .resources-table tr:nth-child(even) .fa{
     background-color: #f3f3f3;
}
 .resources-table td >.fa {
     color: #ddd;
}

.resources-table td > a:not(:last-child) {
    padding-right: 4px!important;
}

.resources-table td > a{
    margin-bottom: 5px!important;
    margin-top: 5px!important;
        display: inline-block;
}

 .blue-bg .resources-table .fa {
     background-color: #efefef;
}
 .resources-table .fa:before {
     font-size: 3em;
}
 .entry-content h1 {
     font-size: 42px;
     line-height: 1.1;
}
 .entry-content h2 {
     font-size: 32px;
     line-height: 32px;
     font-weight: 400;
}
 .entry-content h3 {
     font-size: 28px;
     line-height: 28px;
     font-weight: 400;
}
 .edit-link {
     display: none;
}
 span.vc_tta-title-text {
     font-family: rajdhani;
     font-size: 19px;
     font-weight: normal;
}
 .wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tabs-list {
     padding: 0;
     margin: -1px 0 0 28px!important;
}
 .wpb-js-composer li.vc_active {
     box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
     maXrgin: 5px 10px 0px 5px !important;
}
 .wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tab {
     marXgin: 1px 5px 0 5px !important;
}
 .wpb-js-composer .vc_tta.vc_general .vc_tta-panels, .wpb-js-composer .vc_tta.vc_general .vc_tta-panels-container {
     box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
 a:hover {
     text-decoration: unset;
}
 .header-navigation ul li a span, input[type="radio"].styled:checked + span:before, input[type="radio"].styled:checked + label:before, input[type="radio"].styled:checked + strong:before {
     background-color: initial!important;
}
 .header-navigation ul li a span {
     border-radius: initial;
     position: initial;
     top: initial;
     right: initial;
     font-size: initial;
     padding: initial;
}

.boxed .site-header .right-col {
    display: none;
}

.header-inner .middle-col {
    padding-right: 0;
}

.pll-parent-menu-item  .sub-menu {
  left: auto;
  right: 0;
}

.lang-item-dev {
    display: none!important;
}

.number-icon .wpb_raw_html div {
    color: #fff;
    background: #f68821;
    height: 70px;
    width: 70px;
    font-size: 40px;
    line-height: 70px;
    border-radius: 53%;
    text-align: center;
    margin: 0 0 0 auto!important;
}

.number-icon .vc_col-sm-3  .vc_column-inner {
  padding-right: 0;
}

#custom-nav-wrap {
    right: 0;
        left: unset;
}

#profile-nav-wrap {
    display: none;
}

strong, b {
    font-family: inherit!important;
    font-weight: 700;
    font-style: normal;
    font-size: inherit!important;
}

.resources-table h4 {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 4px;
    margin-top: 0px;
     font-weight: 500;
}


/*-------------------------------------------------------------- 
2.0 - Responsive media queries (mobile styles) 
--------------------------------------------------------------*/

/*-------------------------------------------------------------- 
2.1 - MAXIMUM width of 720 pixels (phones landscape) 
--------------------------------------------------------------*/ @media screen and (max-width: 720px) {
    /* .just_an_example {
         color: black;
    }
     */
}

/* don't delete this closing bracket */

/*-------------------------------------------------------------- 
2.2 - MAXIMUM width of 350 pixels (phones portrait) 
--------------------------------------------------------------*/
 @media screen and (max-width: 350px) {
    /* .just_an_example {
         color: black;
    }
     */
}

/* don't delete this closing bracket */
/*-------------------------------------------------------------- 
2.2 - MAXIMUM width of 350 pixels (phones portrait) 
--------------------------------------------------------------*/
 @media screen and (max-width: 480px) {

}

/* don't delete this closing bracket */

/*-------------------------------------------------------------- 
2.3 - MINIMUM width of 721 pixels (tablets+) 
--------------------------------------------------------------*/

 @media screen and (min-width: 721px) {
.pll-parent-menu-item {
    background-color: #eaeaea;
    float: right;
}
}

/* don't delete this closing bracket */

/*-------------------------------------------------------------- 
2.4 - MINIMUM width of 1040 pixels (desktops and laptops) 
--------------------------------------------------------------*/
 @media screen and (min-width: 1040px) {
    /* .just_an_example {
         color: black;
    }
     */
}

/* don't delete this closing bracket */

@media screen and (max-width: 1025px) {
    .header-inner .middle-col {
        padding-right: 0;
    }
}

@media screen and (max-width: 913px) and (min-width: 900px) {
    .header-inner .middle-col {
        padding-right: 0;
    }
}

/* 4 june emz */

.menu-section {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    background-image: url("https://www.codejika.org/img/bg-pattern-zz50.png");
}

.menu-section.show-menu-section{ display: block; } 

.btn-toggle-wrap{ text-align: right; margin-top: -11px;}


.boxed .header-inner {height: 74px; }

.btn-toggle-wrap #custom-nav-toggle {
    font-size: 35px;
    display: inline-block;
    padding: 29px 20px 10px;
}
.bxmenu-wrap h3 {font-size: 2.5em;margin-bottom: 20px;}

.menu-col h4 {
    font-size: 1.714em;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif !important;
}
.menu-col {
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    padding: 1.45rem;
    text-align: left;
    height: 100%;
    width: 100%;
}

#custom-nav-cross #custom-nav-cross {
    font-size: 6.2rem;
    margin: 0px 1px;
    color: #000;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    line-height: 78px;
}

.bxmenu-wrap {max-width: 770px;margin: auto; text-align: center; padding-top: 33px;}
.box-menu ul > li a::before {display: none;}

.box-menu ul > li a {font-size: 20px;color: #2c2c2c; position: relative;}


.box-menu ul li ul li {
    background: none;
    width: 100%;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.box-menu ul li ul li a {
    font-size: 16px;
    color: #606060;
}

.box-menu ul li ul.sub-menu {
    background: #F9F9F9;
    padding: 16px 20px;
    border-radius: 2px;
    display: none;
}
.box-menu ul li:hover ul.sub-menu  {display: block;}

.box-menu ul {text-align: left;}
.pll-parent-menu-item{ float: none; position: relative;}
/*.pll-parent-menu-item a::after {
    content: "\f0dd";
    font-family: FontAwesome;
    position: absolute;
    right: -14px;
    top: -2px;
    font-size: 16px;
}*/
.box-menu ul li ul li a:after{ display:none; }

html.overflow-hidden, html.overflow-hidden body{ overflow: hidden; }
.menu-col p {
    color: #2c2c2c;
    margin: 0;
    line-height: 1.61em;
}

.bxmenu-wrap .col-lg-12 {padding: 13px 15px;}

.menu-col:hover { background-color:#f4fcfc}
.box-menu .chw-title {
  display: none;
}
#custom-nav-cross #custom-nav-cross:hover {opacity: .75;color: #000;}




/** 25 june 2019 css start here **/

.menu-section.show-menu-section { overflow-y: scroll;}


/** curiculum **/

.inside-col {
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
    background-color: #fff;
    padding:16px 20px;
    text-align: left;
    height: 100%;
    width: 100%;
}
.inside-col h4 {margin: 0 0 2px 0;font-size: 20px; font-family: Montserrat, "Helvetica Neue", Arial, sans-serif !important;}

.table-content p {margin: 3px 0px;font-size: 14px;}

.table-content .scnd {width: 50%;float: right;}
.table-content .fst {float: left;width: 50%;}

.table-content {overflow: hidden;clear: both;}

.foot-links a {
    display: inline-block;
    color: #fff;
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 500;
}
.foot-links a:hover{ color: #fff }
.foot-links {margin: 12px 0 0 0;}

.foot-links a.btn-green{ background-color: #92D050 }

.foot-links a.btn-gray{ background-color: #BEBEBE}

.foot-links a.btn-blue{background-color: #00AFEF}


.color_red {background: #ff00a5;}
.color_green {
    background: #14b0bf;
}


.inside-col h6 {
    margin: 8px 0 12px 0;
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
}

.sub-headings h4 {
    margin: 15px 0 0 0;
    font-size: 1.714em;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
}

.box-menu-wraper.x-box .bxmenu-wrap {max-width: 810px; padding-bottom: 40px;}

.modal-backdrop.show {display: none;}

.fullscreen.modal {background-image: url(../img/bg-pattern-zz50.png);background-color: #fff;}

.fullscreen .modal-content{ background:none; }

.link.color_red.separate-it {float: right;}
.box-menu h2.curriculam-title {display: none;}



/** 29 August css start here**/

.pricingbox_inner {
    background: #fff;
    border: 1px solid #eae8e8;
    border-radius: 2px;
    padding: 14px 18px 75px;
    min-height: 270px;
    box-shadow: 0 0 15px 0 rgb(82, 129, 203, .4);
    position: relative;
    height: 100%;
    min-height: 490px;
}

.pricingbox .container {
overflow: hidden;
clear: both;
}

.pricingbox_col h1 {
font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
text-transform: uppercase;
font-weight: 600;
text-align: center;
font-size: 50px;
margin: 0 0 10px 0;
}

.pricingbox_inner h4 {
    font-size: 21px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    line-height: 22px;
    margin: 0 0 1px;
}
.pricingbox_inner h2 {
font-size: 50px;
font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
color: #505050;
text-transform: uppercase;
text-align: center;
margin: auto;
line-height: 52px;
}

.emoji_re i {
color: #A0B75E;
font-weight: 600;
text-align: center;
display: block;
}

.pricing_info h5 {
margin: auto;
font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
color: #404040;
}

.pricing_info li {
display: block;
margin-left: 10px;
font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

.emoji_re {margin: 0 0 11px 0;text-align: center;}
.note_msg p {margin: 0;font-size: 16px;display: block;text-align: center;color: #606060;}

.pricing_btn a {
background: #14b0bf;
color: #fff;
display: block;
text-align: center;
padding: 9px 10px;
text-transform: uppercase;
font-size: 20px;
}

.pricing_btn {
position: absolute;
bottom: 14px;
left: 0;
right: 0;
margin: auto;
width: 90%;
}

.pricingbox_col {
    float: left;
    width: 33.3%;
    padding: 10px 28px;
    position: relative;
    vertical-align: top;
}
.pricingbox .container {
    overflow: hidden;
    clear: both;
    max-width: 970px;
}
.pricingbox_smart h1 {color: #4D9BD0;}
.pricingbox_silver h1 {color: #A3A3A3;}
.pricingbox_gold h1 {color: #FFBD37;}


.note_msg {
    background: #CFCDCD;
    text-align: center;
    padding: 7px 10px;
}

.note_msg p {
    margin: 0;
    font-size: 16px;
    display: block;
    text-align: center;
    color: #606060;
}

.pricingbox_col:after {
    position: absolute;
    content: "\f067";
    font-family: FontAwesome;
    top: 50%;
    margin: auto;
    right: -11px;
    text-align: center;
    font-size: 34px;
    color: #737272;
    transform: translateY(-50%);
}
.pricingbox_col.pricingbox_gold:after {
    display: none;
}
/** 29 August css End here**/




@media screen and (min-width: 768px) and (max-width: 991px){

.foot-links a {
    padding: 6px 5px;
    font-size: 13px;

}
.inside-col{ padding: 12px; }
}
/** 3 July 2019 Css Start here **/

@media screen and (max-width: 480px) {
.mobile-header-pop .boss-logo.large {display: none;}
.mobile-header-pop #mastlogo {text-align: center;padding: 6px 0;}
.mobile-header-pop .btn-toggle-wrap #custom-nav-toggle{ color: #fff; }
.mobile-header-pop #custom-nav-toggle {
    position: absolute;
    right: 0;
    top: 0;
}

#mobile-header{ transform: inherit !important; }

#right-panel{ padding-top: 18px; }

}


/** 3 July 2019 Css End here **/


@media (max-width: 767px) {

 .pricingbox_col {
    width: 100%;
    padding: 30px 0px;
    float: none;
 }

.pricingbox_col:after {
    bottom: -30px;
    right: 0;
    transform: inherit;
    left: 0;
    text-align: center;
    margin: auto;
    top: inherit;   
}

.pricingbox_inner{ min-height: inherit; }
.pricingbox .container {max-width: 400px;}

}


@media (min-width: 768px) and (max-width: 991px) {
.pricingbox_col{ width: 50%; }

}




